{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        tr {
            vertical-align: top;
        }

        td {
            text-align: center;
        }

        .custom-td {
            position: relative;
            top: -4px;
        }
    </style>

    {{ render(controller(
        'App\\Controller\\OrderController::filterByDate'
    )) }}

    <br>
    <table class="table text-center" border="1px">
        <tr>
            <th class="active text-center">Date</th>
            <th class="active text-center">Id</th>
            <th class="active text-center">Sum</th>
            <th class="text-center">Product</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.createdDate }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.sumItems }}</td>
                <td class="custom-td">
                    <table border="1px">
                        <tr>
                            <th style="font-weight: normal;">Name</th>
                            <th style="font-weight: normal;">Amount</th>
                        </tr>
                        {% for orderItem in order.orderItems %}
                            <tr>
                                <td>{{ orderItem.productName }}</td>
                                <td>{{ orderItem.amount }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
