{% extends 'base.html.twig' %}

{% block title %}Hello OrderItemController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        tr {
            vertical-align: top;
        }

        td {
            text-align: center;
        }
    </style>

    {{ render(controller(
        'App\\Controller\\OrderItemController::filterByDate'
    )) }}

    <table class="table text-center" border="1px">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Orders</th>
        </tr>
        {% for key, product in products %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    <table border="1px">
                        <tr>
                            <th class="text-center">Order</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Date</th>
                        </tr>
                        {% for order_item in product %}
                            <tr>
                                <td>Заказ {{ order_item.order.id }}</td>
                                <td>{{ order_item.productPrice }}</td>
                                <td>{{ order_item.order.createdDate }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
